@import "../const.scss";
#sidebar {
    color: $light;
    width: $sideBarWidth;
    margin-top: 1px;
    margin-left: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    a {
        color: inherit;
    }
}

#content {
    margin-left: $sideBarWidth;
    margin-top: 1px;
    background-color: $light;
    border-radius: 5px;
}

.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0px 0px 5px 5px;
}