// https://coolors.co/fffdf7-c44536-197278-283d3b-212227
$primary: #197278;
// $bg-primary: #C44536;
$secondary: #283D3B;
$success: #0FC15F;
$danger: #C44536;
// $warning
// $info
$light: #FFFDF7;
$dark: #212227;
$sideBarWidth: 20rem;